*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    
}
p{
    font-size: 2rem;
    margin: 0;
}

.wrapper{
    margin-left:auto;
    margin-right:auto;
    padding: 5%;
    max-width: 1200px;
}


.marker-label{
    display: flex;
    align-items: center;
    width: 3rem;
    height: 3rem;  
    cursor: pointer; 
}

.marker{
    margin: auto;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid blue;
    cursor: pointer;
}
.marker-label:hover > .marker{
    background-color: white;
}
input{
    display: none;
    margin: 0;
    cursor: pointer;
}

.slider{
    display:block;
    overflow:hidden;     
}

.slide{
    display:none;
    width: 100%;
    flex-shrink: 0;
    border-radius: 5vw;
    overflow:hidden;  
}
.slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.controls-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
}
@media screen and (max-width: 767px) {
    .controls-container {
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: center;
    }
}
.controls{
    display:flex;
    justify-content: flex-end;
}
@media screen and (max-width: 767px) {
    .description{
        margin-top: 5vh;
        align-self: flex-start;
    }
}


#radio1:checked ~ .controls-container > .controls > label > .input1{
    background-color: blue;
}
#radio2:checked ~ .controls-container > .controls > label > .input2{
    background-color: blue;
}
#radio3:checked ~ .controls-container > .controls > label > .input3{
    background-color: blue;
}
#radio4:checked ~ .controls-container > .controls > label > .input4{
    background-color: blue;
}
#radio5:checked ~ .controls-container > .controls > label > .input5{
    background-color: blue;
}
.controls-container > .description > *{
    display: none;
}
#radio1:checked ~ .controls-container > .description > .description1{
    display:block;
    animation-name: description-move;
    animation-duration: 0.7s;  
    animation-fill-mode: forwards; 
}
#radio2:checked ~ .controls-container > .description > .description2{
    display:block;
    animation-name: description-move;
    animation-duration: 0.7s;  
    animation-fill-mode: forwards; 
}
#radio3:checked ~ .controls-container > .description > .description3{
    display:block;
    animation-name: description-move;
    animation-duration: 0.7s;  
    animation-fill-mode: forwards; 
}
#radio4:checked ~ .controls-container > .description > .description4{
    display:block;
    animation-name: description-move;
    animation-duration: 0.7s;  
    animation-fill-mode: forwards; 
}
#radio5:checked ~ .controls-container > .description > .description5{
    display:block;
    animation-name: description-move;
    animation-duration: 0.7s;  
    animation-fill-mode: forwards; 
}

#radio1:checked ~.slider > .input1{
    display:block;
    animation-name: slide;
    animation-duration: 0.7s;   
    animation-fill-mode: forwards;
}
#radio2:checked ~.slider > .input2{
    display:block;
    animation-name: slide;
    animation-duration: 0.7s;  
    animation-fill-mode: forwards; 
}
#radio3:checked ~.slider > .input3{
    display:block;
    animation-name: slide;
    animation-duration: 0.7s;  
    animation-fill-mode: forwards; 
}
#radio4:checked ~.slider > .input4{
    display:block;
    animation-name: slide;
    animation-duration: 0.7s;  
    animation-fill-mode: forwards; 
}
#radio5:checked ~.slider > .input5{
    display:block;
    animation-name: slide;
    animation-duration: 0.7s;  
    animation-fill-mode: forwards; 
}
@keyframes slide {
    from{
        margin-left: 90vw; 
    }  
    to{
        margin-left: 0vw;
    }  
}

@keyframes description-move {
    from{
        margin-left: 20vw;    
    }  
    to{
        margin-left: 0;
    }  
}
